.page {
  position: relative;

  .bottomNavigation {
    position: absolute;
    right: 50%;
    bottom: 20px;
    transform: translateX(50%);
    background-color: white;
    padding: 20px;
    border-radius: 12px;

    > .messageBox {
      > .chooseMicWarning {
        margin-bottom: 16px;
        width: 100%;
        color: #c00;
      }
    }

    > .buttonNavigation {
      display: flex;
      justify-content: center;
      gap: 12px;

      > .toggleButton,
      > .clearButton {
        padding: 8px 16px;
        border-radius: 12px;
      }
    }
  }
}
